html{
    position: relative;
    min-height: 100%;   
}

body{
    background-color: #5faf50;
}

.btn-modif{
    background-color: #5faf50;
    color: white;   
    border-color: #5faf50;
}

.btn-modif:hover, .btn-modif:focus{
    background-color: #2ecc71;
    border-color: #2ecc71;
    color: white;
}

.box{
    width: 100%;
    height: fit-content;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 999;
    border-radius: 4px;
    margin-top: 50px;
    border-bottom: 3px solid #ccc;
    box-shadow: 0px 1px 1px rgba(0,0,0,1);
    text-align: center;
}

hr{
    width: 80%;
}

h1, h4{
    color: #95a5a6;
    margin-bottom: 20px;
}

.web-logo{
    text-align: center;
    margin-top: 10px;
}

.web-logo img{
    width: 150px;   
    height: 200px;
}

.form-group{
    padding: 0 40px 0 40px;
    margin-bottom: 15px;
}

.form-group .form-control{
    width: 100%;
    box-shadow: none;
}

.form-control:focus{
    border-color: #2ecc71;
}


